/* BOTÃO BATALHAR */
#btnBatalhar{
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 15px 25px;
    font-size: 18px;
    background: #8e44ad;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* UI DE BATALHA */
#uiBatalha{
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    text-align: center;
    color: white;
}

/* BARRA DE VIDA */
#hpInimigo{
    width: 300px;
    height: 20px;
    background: red;
    margin-bottom: 10px;
}

/* MENU TOPO DO JOGO */
#menuTopo{
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    gap: 10px;
    z-index: 10;
}

/* BOTÕES DO TOPO */
.btnTop{
    width: 50px;
    height: 50px;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    cursor: pointer;

    background: rgba(0,0,0,0.6);
    color: white;

    backdrop-filter: blur(6px);

    transition: 0.2s;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.btnTop:hover{
    transform: scale(1.1);
    background: rgba(142, 68, 173, 0.8);
}

.btnTop:active{
    transform: scale(0.95);
}

/* BOTÃO SAIR */
#menuTopo button.sair{
    position: fixed;
    right: 20px;
    top: 20px;
    background: rgba(200,50,50,0.8);
}

#menuTopo button.sair:hover{
    background: rgba(255,80,80,1);
}

/* JANELA CONFIG */
#janelaConfig{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(5px);

    display: none;
    align-items: center;
    justify-content: center;
}

/* CAIXA CONFIG */
#janelaConfig .box{
    background: #1e1e1e;
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    color: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

/* INPUT CONFIG */
#janelaConfig input{
    width: 100%;
}

/* BOTÃO CONFIG */
#janelaConfig button{
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #444;
    color: white;
    cursor: pointer;
}

#janelaConfig button:hover{
    background: #666;
}

/* CANVAS */
#game{
    display: block;
}
